.container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    overflow: hidden;
}

.elementos {
    display: flex;
    transition: transform 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    padding: 10px 0;
    gap: 10px;
}
