/* Estilos generales */
.container {
    overflow: hidden;
    position: relative;
    /* Para posicionar las flechas */
}

/* Header */
#header {
    display: flex;
    text-align: left;
    clear: both;
    width: calc(100% - 40px);
    /* Ajuste basado en el margen */
    height: 47px;
    padding: 1 4px;
    /* Corrección del padding */
    overflow: hidden;
    margin-left: 20px;
    margin-right: 20px;
}

/* Menú */
#menu {
    clear: both;
    width: 100%;
    height: 45px;
    background: linear-gradient(to bottom, #ffffff, #ffffff);
    border: 1px solid #C9C9C9;
    border-radius: 8px;
    box-shadow: 0 1px 1px #ccc;
    overflow: hidden;
}

#menu ul {
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
    font-size: 15px;
    list-style: none;
}

#menu ul div {
    display: flex;
    justify-content: right;
    width: 100%;
    font-size: 15px;
    list-style: none;
}

#menu ul li a {
    text-decoration: none;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;
    color: #afa1a1;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
    background: rgba(217, 217, 217, 0.58);
    border: 1px solid white;
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
}

#menu ul li a:hover {
    background: linear-gradient(to bottom, #f2f2f2, #dad9d4);
    border: 1px solid black;
    transform: scale(1.05);
}

#menu ul li a:active {
    transform: scale(0.95) rotateZ(1.7deg);
}

/* From Uiverse.io by zanina-yassine */
#menu .botones button {
    min-width: 120px;
    position: relative;
    cursor: pointer;
    padding: 5px 11px 5px 11px;
    margin-left: 10px;
    border: 0;
    border-radius: 7px;
    font-weight: bolder;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    background: radial-gradient(ellipse at bottom,
            rgba(217, 217, 217, 0.58) 0%,
            rgba(184, 158, 158, 0.22)45%);

    color: #afa1a1;

}

#menu .botones button ::before {
    content: "";
    width: 70%;
    height: 1px;

    position: absolute;
    bottom: 0;
    left: 15%;

    background: rgb(255, 255, 255);
    background: linear-gradient(90deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 50%,
            rgba(255, 255, 255, 0) 100%);
    opacity: 0.2;

    transition: all 1s cubic-bezier(0.15, 0.83, 0.66, 1);
}

#menu .botones button:hover {
    border: 1px solid black;
    color: rgb(102, 92, 92);
    transform: scale(1.1) translateY(-3px);
}

#menu .botones button::hover::before {
    opacity: 1;
}

/* Elementos deslizables */
.elementos {
    width: 200%;
    display: flex;
    transition: transform 0.9s ease;
}

article {
    width: calc(50% - 20px);
    /* Ajuste basado en el margen */
    height: 300px;
    background-color: #f1f1f1;
    border-radius: 10px;
    margin: 10px;
    padding: 18px;
    text-align: center;
}

article h2 {
    font-size: 20px;
    color: #333;
}

article #Descripcion {
    font-size: 14px;
    color: #333;
    margin: 10px;
}

article footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

article footer div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

article footer img {
    width: 150px;
    height: 150px;
    border-radius: 20%;
    object-fit: cover;
    margin-top: 10px;
}

article footer button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #b39797;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Flechas de navegación */
.flecha {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.izquierda {
    left: 10px;
}

.derecha {
    right: 10px;
}