body {
    background-color: #f8f9fa;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.form-container {
    display: none;
}

.form-container.active {
    display: block;
}

.card {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border: none;
}

.form-error {
    display: none;
    color: #dc3545;
    font-size: 0.875rem;
    margin-top: 0.25rem;
}

.nav-tabs .nav-link.active {
    font-weight: bold;
}
.logo {
    text-align: center;
}
.card img{
    
    width: 20%;
}