body {
    background-image: url('../resources/imagenes/fondo.jpg');
    min-height: 100vh;
    display: flex;
    align-items: center;

}

.form-container {
    display: none;
}

.form-container.active {
    display: block;
}

.card {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border: none;
}

.form-error {
    display: none;
    color: #dc3545;
    font-size: 0.875rem;
    margin-top: 0.25rem;
}

.nav-tabs .nav-link.active {
    font-weight: bold;
}

#cardHeader {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.card img {
    width: 10%;
}

.card h2 {
    background-color: #335b27;
}
.card input {
    background-color: #f0dfc8;
}
#loginTab{
    background-color: #335b27;
    color: white;
}
#registerTab{
    background-color: #f0dfc8;
}